<div class="conocimientos-container">
  <h2>
    My
  </h2>
  <h1>
    <span class="gradiente">Proyects</span>
  </h1>
  <div class="proyectos">
    <div class="proyecto">
      <div class="proyecto-foto">
        <div class="photo photo1">
        </div>
        <div class="textoPhoto">
          <a href="https://cajonescaballero.netlify.app/">Cajones Caballero</a>
          <p>It's an online store where you can create your own personalized products and see the changes in real-time 3D.</p>
        </div>
        <div class="tecnologiasUsadas">
          <div class="primero">Angular</div>
          <div class="segundo">NodeJs</div>
          <div class="primero">Express</div>
          <div class="tercero">MongoDB</div>
          <div class="segundo">ThreeJS</div>
          <div class="primero">FabricJS</div>
        </div>
      </div>
    </div>
  </div>
</div>
