<div class="conocimientos-container">
  <h2>
    Mis
  </h2>
  <h1>
    <span class="gradiente">Proyectos</span>
  </h1>
  <div class="proyectos">
    <div class="proyecto">
      <div class="proyecto-foto">
        <div class="photo photo1">
        </div>
        <div class="textoPhoto">
          <a href="https://cajonescaballero.netlify.app/">Cajones Caballero</a>
          <p>Es una tienda en línea donde puedes crear tus propios productos personalizados y ver los cambios en tiempo real en 3D. </p>
        </div>
        <div class="tecnologiasUsadas">
          <div class="primero">Angular</div>
          <div class="segundo">NodeJs</div>
          <div class="primero">Express</div>
          <div class="tercero">MongoDB</div>
          <div class="segundo">ThreeJS</div>
          <div class="primero">FabricJS</div>
        </div>
      </div>
    </div>
  </div>
</div>
