
<div class="photo-grid">
  <div class="photos photos1">
    <img src="assets/Imagenes/p1.jpg">
    <div class="overlay">
      <p>Trabajando de <span>voluntario</span> para una empresa de videojuegos. Haciendo tareas varias como hacer de <span>monitor</span> para niños.</p>
    </div>
  </div>

  <div class="photos photos2">
    <img src="assets/Imagenes/p3.jpg">
    <div class="overlay">
      <p>Participando como <span>programador C# </span>en una de las muchas Málaga Jams.</p>
    </div>
  </div>

  <div class="photos photos3">
    <img src="assets/Imagenes/p2.jpg">
    <div class="overlay">
      <p>Aprovechando la Málaga Jam para <span>estrechar lazos </span>con mis compañeros de equipo jugando al bingo (perdimos).</p>
    </div>
  </div>

    <div class="photos photos4">
      <img src="assets/Imagenes/p4.JPG">
          <div class="overlay">
            <p><span>Presentando </span>nuestro juego para el resto de participantes de la Jam.</p>
          </div>
    </div>
</div>
