
<div class="photo-grid">
  <div class="photos photos1">
    <img src="assets/Imagenes/p1.jpg">
    <div class="overlay">
      <p>Working as a <span>volunteer</span> for a video game company. Performing various tasks such as being a <span>monitor</span> for children.</p>
    </div>
  </div>

  <div class="photos photos2">
    <img src="assets/Imagenes/p3.jpg">
    <div class="overlay">
      <p>Participating as a <span>C# programmer</span> in one of the many Málaga Jams.</p>
    </div>
  </div>

  <div class="photos photos3">
    <img src="assets/Imagenes/p2.jpg">
    <div class="overlay">
      <p>Taking advantage of the Málaga Jam to <span>strengthen bonds</span> with my team members by playing bingo (we lost).</p>
    </div>
  </div>

    <div class="photos photos4">
      <img src="assets/Imagenes/p4.JPG">
          <div class="overlay">
            <p><span>Presenting</span> our game to the other participants of the Jam.</p>
          </div>
    </div>
</div>
