<nav class="sticky-nav" style="margin-top: -23px; background-color: transparent;">
<div class="tab-container">
  <input type="radio" name="tab" id="tab1" class="tab tab--1" />
  <label class="tab_label" for="tab1">Sobre mi</label>

  <input type="radio" name="tab" id="tab2" class="tab tab--2" />
  <label class="tab_label" for="tab2">Conocimientos</label>

  <input type="radio" name="tab" id="tab3" class="tab tab--3" />
  <label class="tab_label" for="tab3">Proyectos</label>

  <input type="radio" name="tab" id="tab4" class="tab tab--4" />
  <label class="tab_label" for="tab4">Contactar</label>

  <div class="indicator"></div>
</div>
</nav>
