  <div class="conocimientos-container">
    <h2>
      Conocimientos
    </h2>
    <h1>
      <span class="gradiente">Stack Tecnológico</span>
    </h1>

    <div class="conocimientos">
      <div class="container">
        <h2>
          Front-end
        </h2>
        <div class="tecnologias">
          <div class="tecnologia">
            <img src="/assets/Iconos/html.webp" alt="html" width="70%">
            <span class="tooltip">HTML</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/css.webp" alt="css" width="70%">
            <span class="tooltip">CSS</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/js.png" alt="js" width="60%">
            <span class="tooltip">JavaScript</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/ts.webp" alt="TypeScript" width="70%">
            <span class="tooltip">TypeScript</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/jquery.webp" alt="JQuery" width="70%">
            <span class="tooltip">JQuery</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/bootstrap.webp" alt="Bootstrap" width="70%">
            <span class="tooltip">Bootstrap</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/tailwind.webp" alt="Tailwind" width="70%">
            <span class="tooltip">Tailwind</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/angular.webp" alt="Angular" width="70%">
            <span class="tooltip">Angular</span>
            <span class="text"></span>
          </div>
        </div>
      </div>
      <div class="container segundo">
        <h2>
          Back-end
        </h2>
        <div class="tecnologias">
          <div class="tecnologia">
            <img src="/assets/Iconos/java.png" alt="Java" width="70%">
            <span class="tooltip">Java</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/php.png" alt="PHP" width="70%">
            <span class="tooltip">PHP</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/C.png" alt="C#" width="55%">
            <span class="tooltip">C#</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/nodejs.webp" alt="NodeJs" width="70%">
            <span class="tooltip">NodeJs</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/mysql.webp" alt="MySQL" width="70%">
            <span class="tooltip">MySQL</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/wordpress.png" alt="Wordpress" width="50%">
            <span class="tooltip">Wordpress</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/laravel.webp" alt="Laravel" width="70%">
            <span class="tooltip">Laravel</span>
            <span class="text"></span>
          </div>
        </div>
      </div>
      <div class="container">
        <h2>
          Otros
        </h2>
        <div class="tecnologias">
          <div class="tecnologia">
            <img src="/assets/Iconos/git.png" alt="Git" width="50%">
            <span class="tooltip">Git</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/github.png" alt="GitHub" width="60%">
            <span class="tooltip">GitHub</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/selenium.svg" alt="Selenium" width="60%">
            <span class="tooltip">Selenium</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/ELK.png" alt="ELK stack" width="60%">
            <span class="tooltip">ELK Stack</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/fabric.png" style="filter: invert(0);" alt="Three Js" width="60%">
            <span class="tooltip">Three Js</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/threejs.png" style="filter: saturate(0);" alt="Fabric Js" width="100%">
            <span class="tooltip">Fabric Js</span>
            <span class="text"></span>
          </div>
        </div>
      </div>
      <div class="container segundo">
        <h2 class="pequeño">
          Aprendiendo actualmente o quiero aprender
        </h2>
        <div class="tecnologias">
          <div class="tecnologia">
            <img src="/assets/Iconos/react.png" alt="React" width="65%">
            <span class="tooltip">React</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/nextJs.png" alt="Next Js" width="60%">
            <span class="tooltip">Next Js</span>
            <span class="text"></span>
          </div>
          <div class="tecnologia">
            <img src="/assets/Iconos/vuejs.webp" alt="Vue Js" width="60%">
            <span class="tooltip">Vue Js</span>
            <span class="text"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
