<div class="hero-content">
  <div class="hero-texto">
    <div class="name">Hola, soy <span style="font-weight: bold;">Juan Caballero</span></div>
    <div class="job"><span class="gradiente">Desarrollador web.</span> Disfruto haciendo cosas nuevas y enfrentando nuevos retos. </div>
    <ul class="social-links">
      <button class="custom-button enmedio" >
        <p class="grande">Contactar</p>
      </button>
    </ul>
  </div>
  <div class="hero-photo div3">
    <div class="photo-background"></div>
    <img src="assets/Imagenes/Yo.png" alt="Foto de Juan Caballero">
  </div>
</div>
