<div class="hero-content">
  <div class="hero-texto">
    <div class="name">Hi, I'm <span style="font-weight: bold;">Juan Caballero</span></div>
    <div class="job"><span class="gradiente">Web Developer</span>. I enjoy creating new things, learning and facing new challenges.</div>
    <ul class="social-links">
      <button class="custom-button enmedio" (click)="openMailClient()">
        <p class="grande">Contact now</p>
      </button>
    </ul>
  </div>
  <div class="hero-photo div3">
    <div class="photo-background"></div>
    <img src="assets/Imagenes/Yo.png" alt="Foto de Juan Caballero">
  </div>
</div>
